/*Основная CSS для форматирования сайта*/

/* Формат тела документа */
body, html
{
    /*background: url(../img/home.jpg) no-repeat top center;*/
    /*background-size: 100% auto;*/
    /*height: 3000px;*/
    /*background-attachment: scroll;*/
    overflow-x: hidden;
}

/*For all tags*/
* {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: Mathlete-Bulky;
    font-size: 32px;
    overflow-x: hidden;
}

/*Links*/
a:hover{
    text-decoration: none;
    color : red;
}

/*Шрифт*/
@font-face {
    font-family: Mathlete-Bulky; /* Гарнитура шрифта */
    src: url(../fonts/Mathlete-Bulky.otf); /* Для  */
    src: local(Mathlete-Bulky), url(../fonts/Mathlete-Bulky.otf); /* Для остальных браузеров */
}

/*Контейнер 1*/
#container_1
{
    position: relative;
    width: auto;
    height: auto;
    padding: 0%;

    background: url(../img/bg_heder_01.jpg) no-repeat top center;
    background-size: 100% auto;
}

/*Выезжающая панель*/
#panel
{
    width: 100%;
    padding: 0.5%;
    z-index: 999;
    margin: 0%;
    overflow: hidden;

    position: absolute;
    top: -500px;
    background: white;
    border-bottom: grey solid thin;

    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}


/*Logo1*/
#logo1
{
    position: relative;
    display: inline-block;

    width: 120px;
    margin-top: 0%;
    background: url("../img/logo_top_menu_03.png") no-repeat;
    background-size: 100% auto;
    vertical-align: middle;
}

/*Behance*/
.behance
{
    position: relative;
    display: inline-block;
    height: 42px;/*90%;*/
    width: 42px;/*2.5%*/;
    overflow: hidden;

    background: url("../img/behance_top_menu_03.png") no-repeat;
    background-size: 100% auto;
    vertical-align: middle;
}

.behance:hover
{
    background: url("../img/behance_top_menu_hover_06.png") no-repeat;
    background-size: 100% auto;
}

/*Upper part of contacts*/
#behance_top
{
    margin-left: 60%;
}

/*Upwork*/
.upwork
{
    position: relative;
    display: inline-block;
    width: 42px;/*2.5%*/;
    height: 42px;
    overflow: hidden;

    background: url("../img/upwork_top_menu_03.png") no-repeat;
    background-size: 100% auto;
    vertical-align: middle;
}

.upwork:hover
{
    background: url("../img/upwork_top_menu_hover_06.png") no-repeat;
    background-size: 100% auto;

}

/*Upper part of contacts*/
#upwork_top
{
    margin-rigt: 0px;
    margin-left: 20px;
}


/*Logo2*/
#logo2
{
    position: static;
    display: inline-block;
    /*top: 300px;*/
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    /*margin-bottom: 10px;*/
    /*background: url("../img/logo_big_03.png") no-repeat;*/
    /*background-size: 100% auto;*/
}

/*Logo2*/
.text_1
{
    position: static;
    display: block;
    text-align: center;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin-bottom: 70px;
    width: 50%;
}


/*Arrow_1*/
.arrow_1{
    position: static;

    /*left: 25%;*/
    /*top: 50%;*/
    margin-top: -16px;
    padding: 0px;
    width: 6px;
    /*-webkit-animation: bubb_1_move ease 3.5s infinite;*/
    z-index: 2;
}

/*Slogan_1*/
.slogan_1
{
    position: static;
    display: block;
    /*top: 300px;*/
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 50px;
}
.slogan_text_1{
    position: relative;
    top:46px;
    z-index: 2;
    color: ivory;
}

.text_hilight{
    color: yellow;
}


/*PART 2*/
#container_2
{
    position: relative;
    width: auto;
    height: auto;
    padding: 0%;

    background: url(../img/bg_middle_02.jpg) no-repeat top center;
    background-size: 100% auto;
}

/*BUBBLES*/
.bubbles{
    position: relative;
    display: block;
    background-color: transparent;
    /*border: solid 1px;*/
    width: 100%;
    height: 350px;
}
/*Bubble_1*/
#bubble_1{
    width: 180px;
    -webkit-animation: bubb_1_move ease 3.5s infinite;
    z-index: 2;
    position: absolute;
    left: 20%;
}
@-webkit-keyframes bubb_1_move {
    from {
        top: 10%;
    }
    50% {
        top: 20%;
    }
    to {
        top: 10%;
    }
}
.bubble_text_1{
    position: relative;
    top: -110px;
    z-index: 2;
}

/*Bubble_2*/
#bubble_2{
    width: 150px;
    -webkit-animation: bubb_2_move ease 2.7s infinite;
    z-index: 2;
    position: absolute;
    left: 45%;
}
.bubble_text_2{
    position: relative;
    top: -95px;
    z-index: 2;
}
@-webkit-keyframes bubb_2_move {
    from {
        top: 0%;
    }
    50% {
        top: 8%;
    }
    to {
        top: 0%;
    }
}

/*Bubble_3*/
#bubble_3{
    width: 130px;
    -webkit-animation: bubb_3_move ease 2.0s infinite;
    z-index: 2;
    position: absolute;
    left: 70%;
}
.bubble_text_3{
    position: relative;
    top: -80px;
    z-index: 2;
}
@-webkit-keyframes bubb_3_move {
    from {
        top: 5%;
    }
    50% {
        top: 10%;
    }
    to {
        top: 5%;
    }
}

/*Bubble_static*/
#bubble_4{
    width: 120px;
    z-index: 3;
    position: absolute;
    left: 35%;
}
.bubble_text_4 {
    position: relative;
    top: -80px;
    z-index: 3;
}
#bubble_5{
    width: 120px;
    z-index: 3;
    position: absolute;
    left: 40%;
}
.bubble_text_5 {
    position: relative;
    top: -80px;
    z-index: 3;
}
#bubble_6{
    width: 120px;
    z-index: 3;
    position: absolute;
    left: 45%;
}
.bubble_text_6 {
    position: relative;
    top: -80px;
    z-index: 3;
}
#bubble_7{
    width: 120px;
    z-index: 3;
    position: absolute;
    left: 50%;
}
.bubble_text_7 {
    position: relative;
    top: -80px;
    z-index: 3;
}
#bubble_8{
    width: 120px;
    z-index: 3;
    position: absolute;
    left: 55%;
}
.bubble_text_8 {
    position: relative;
    top: -80px;
    z-index: 3;
}
#bubble_9{
    width: 120px;
    z-index: 3;
    position: absolute;
    left: 60%;
}
.bubble_text_9 {
    position: relative;
    top: -80px;
    z-index: 3;
}
/*Bubbles end`s somewhere there*/

/*Slogan_2*/
.slogan_2
{
    position: static;
    display: block;
    /*top: 300px;*/
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 50px;

}
.slogan_text_2{
    position: relative;
    top:46px;
    z-index: 2;
    font-weight: bold;
    color: black;
}


/*PART 3*/
#container_3 {
    position: static;
    width: auto;
    height: auto;
    padding: 0px;
    /*background: url(../img/bg_middle_02.jpg) no-repeat top center;*/
    /*background-size: 100% auto;*/
}

.last_project{
    position: static;
    width: 80%;
    margin-top: 10px;
}

#right{
    display: inline-block;
    width: 420px;
    vertical-align: top;
}
#left{
    display: inline-block;
    width: 250px;
    vertical-align: top;
}
#small{
    display: block;
    padding-bottom: 20px;
}

.mosaicflow__item {
    padding:3px;
}

.mosaicflow__item img {
    display:block;
    width:100%;
    height:auto;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.mosaicflow__item img:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}
